<!-- <img src="/assets/NJ-Brownstone.jpg" alt="" /> -->

<ul class="menu">
  <li><%= link_to 'Rooms', rooms_path %></li>
  <li><%= link_to 'Members', members_path %></li>
  <li><%= link_to 'Purchases', purchases_path %></li>
</ul>
